.Album {
    display: inline-block;
    margin: 30px;
}

.Album:first-child {
    border: 1px solid green;
}

.Album:nth-child(2) {
    border: 1px solid blue;
}

.Album:nth-child(3) {
    border: 1px solid purple;
}